<body>
    <div class="body-container container">
        <div class="film__wrap">
            <img class="film__img" src="#" alt="alt">
            <h2 class="film__text film__name">
                film name
            </h2>
            <p class="film__text film__description">
                Film description | 2020
            </p>
        </div> 
        <div class="film__wrap">
            <img class="film__img" src="#" alt="alt">
            <h2 class="film__text film__name">
                film name
            </h2>
            <p class="film__text film__description">
                Film description | 2020
            </p>
        </div> 
        <div class="film__wrap">
            <img class="film__img" src="#" alt="alt">
            <h2 class="film__text film__name">
                film name
            </h2>
            <p class="film__text film__description">
                Film description | 2020
            </p>
        </div> 
        <div class="film__wrap">
            <img class="film__img" src="#" alt="alt">
            <h2 class="film__text film__name">
                film name
            </h2>
            <p class="film__text film__description">
                Film description | 2020
            </p>
        </div> 
        <div class="film__wrap">
            <img class="film__img" src="#" alt="alt">
            <h2 class="film__text film__name">
                film name
            </h2>
            <p class="film__text film__description">
                Film description | 2020
            </p>
        </div> 
    </div>
</body>
