
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="modal__close">
            <button class="modal__btn-close" data-modal-close-content>
                <svg class="modal__btn-close-icon" width="14" height="14">
                    <use href="./images/icon/icon-close.svg"> </use>
                </svg>
            </button>
        </div>
    <div class="modal__card">
        <img class="modal__card-poster" src="./images/img/mob/header-bg-lines-mob-1x.png" alt="poster">
        <div class="modal__card-box">
            <h2 class="modal__card-title">Film title</h2>
            <ul class="modal__card-list">
                <li class="modal__card-item">
                    <span class="modal__card-info">Vote/Votes</span>
                    <button type="button" class="modal__card-vote">10.0</button>
                    <span>/</span>
                    <button type="button" class="modal__card-votes">1206</button>
                    
                </li>
                <li class="modal__card-item">
                    <span class="modal__card-info">Popularity</span>
                    <span class="modal__card-popularity">100.2
                        
                    </span>   
                </li>
                <li class="modal__card-item">
                    <span class="modal__card-info">Original Title</span>
                    <span class="modal__card-original-title">Film Name</span>   
                </li>
                <li class="modal__card-item">
                    <span class="modal__card-info">Genre</span>
                    <span class="modal__card-genre">Genre Name</span> 
                </li>
            </ul>
            <h3 class="modal__card-discription-title">About</h3>
            <p class="modal__card-discription">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, consequatur, delectus nam numquam quisquam omnis fugiat id inventore explicabo, tempora illum cum doloremque? Perferendis dignissimos placeat odio magnam, rem minima?
            </p>
                <div class="btn__modal-add">
                    <button class="btn__modal-watched" type="button">ADD TO WATCHED</button>
                    <button class="btn__modal-queue" type="button">ADD TO QUEUE</button>
                </div>
        </div>
      

    </div>   
       
    </div>
</div>