body {
  font-family: $fonts;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $min-mobile) {
    max-width: 480px;
    min-width: 320px;
  }
  @media (min-width: $max-mobile) {
    max-width: 768px;
  }
  @media (min-width: $max-tablet) {
    max-width: 1024px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}
